.item {
  list-style: none;
  display: inline;
  border: 1px solid #282b28;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0px 20px;
  background-color: #90e39a;
}

ul {
  padding: 0px;
}

a {
  color: #282b28;
  text-decoration: none;
}

.homepage {
  text-align: center;
}

h1 {
  text-align: center;
  padding: 20px 20px;
  color: #282b28;
  font-size: 36px;
}

body {
  background-color: rgba(99, 132, 117, 0.9);
}

img {
  height: auto;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  padding: 1%;
}

.recipe {
  margin: 0% 20%;
  padding: 10px;
  background-color: #1f271b;
  color: rgba(178, 194, 187);
  border-radius: 10px;
}
